# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Build Outputs
dist/
build/
out/
.next/
.nuxt/
.vite/

# Environment & Secrets
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
*.pem
*.key
*.cert

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime & Cache
.cache/
.parcel-cache/
.eslintcache
.stylelintcache
.npm
.yarn-integrity

# Testing
coverage/
.nyc_output/
*.lcov

# OS & Editor
.DS_Store
Thumbs.db
Desktop.ini

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*.tsbuildinfo
.vercel
.netlify